/* etiquetas globales */
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

nav {
    background-color: #e3d5ca;
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

p {
    font-size: 1.5rem;
}

footer {
    background-color: #e3d5ca;
    width: 100%;
    margin-top: 100px;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    font-size: 1rem;
}

/* Class */
.logoNav {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px 10px;
}

.itemsNav {
    list-style: none;
    font-size: 20px;
}

.listNav {
    font-weight: bold;
    display: inline;
    margin: 0 10px;
}

.listNav a:hover {
    color: white;
    cursor: pointer;
}

.listNav a {
    color: black;
    text-decoration: none;
}

.presentacion {
    width: 100%;
    height: 25rem;
    background-color: #e3d5ca;
    margin: 40px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 3rem;
    color: rgb(172, 154, 154);
    margin: 0px;
}

.subtitle {
    color: rgb(172 154 154);
    font-size: 2rem;
    margin: 5px;
}

.infoHero {
    margin: 0 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.imgHero {
    height: 20rem;
    width: 15rem;
    border-radius: 5%;
    margin: 25px;
}

.buttoncheck button {
    background-color: #505050;
    width: 130px;
    height: 30px;
    border-radius: 8px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.buttoncheck button a {
    color: #e2d0c1;
    font-size: 15px;
}

.textInfo p {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 250px;
}

.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titleCard {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(172 154 154);
}

.card {
    width: 15rem;
    height: 22.5rem;
    background-color: #e3d5ca;
    border-radius: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.card button {
    background-color: #505050;
    color: #e2d0c1;
    width: 130px;
    height: 30px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.imgCard {
    height: 15rem;
    width: 10rem;
    margin: 10px 30px 10px 0;
    border-radius: 10%;
    margin: 0;
}

.imgFooter {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.listFooter {
    list-style: none;
}

i {
    color: #505050;
}

/* media queries */

@media (max-width: 1100px) {
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .titleCard{
      font-size: 30px; 
    }

    .textInfo p{
        margin: 0 50px;
    }
}

@media (max-width:770px){
    .itemsNav {
        display: none;
    }

    .infoHero{
        margin: 0 40px;
    }

    .infoHero p{
        font-size: 20px;
        margin: 10px;
    }

    .title{
        font-size: 35px;
    }
    .subtitle{
        font-size: 30px;
    }

    .imgFooter{
        margin-left: 20px;
    }
    .listFooter{
        margin-right: 30px;
    }
}

@media (max-width:705px){
    .imgHero{
        display: none;
    }
    .imgFooter{
        height: 100px;
        width: 100px;
    }
}